body {
    margin:0;
}

.intro {
    background-color: #1f2937;
    height: 600px;
    display:flex;
    padding-left: 180px;
    padding-right: 180px;
    flex-direction: column;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.pinatalogo {
    height: 80px;
    width: 160px;
}

.headerlinks {
    color: white;
    font-size: 24px;
    list-style-type: none;
    display:flex;
    gap: 24px;
}

.headerlinks a {
    color: white;
    text-decoration: none;
}

.landing {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.title {
    display: inline-flex;
    flex-direction: column;
    width: 400px;
}

.title h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}

.title button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    padding:10px;
    font-weight: bold;
    border-radius: 8px;
}

.pinata {
    width:400px;
}

.info {
    display:flex;
    background-color: white;
    height: 400px;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}

.info .content {
    display:flex;
    height: 250px;
    flex-direction: column;
    gap: 22px;
}

.info h1 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.cardholder {
    display: flex;
    justify-content: center;
    gap:24px;
}

.card {
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    width: 175px;
}

.card img {
    height: 175px;
    width: 175px;
}


.quote {
    background-color: #e5e7EB;
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quotebox {
    display:flex;
    flex-direction: column;
    width: 700px;
    gap:8px;
}

.quotation {
    font-size: 44px;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.call {
    background-color: white;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.calltoaction{
    display:flex;
    width: 950px;
    height: 200px;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}

.calltext {
    color: white;
    font-size: 20px;
    
}

.calltext p {
    margin-top: 3px;
}

.calltext h3 {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 0;
}

.calltoaction button {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #3882f6;
    font-weight: bold;
    color: white;
    border-radius: 8px;
}

.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
}
    